<section>
  <img src="/headshot.jpg" alt="Headshot of James Thompson" id="cv-headshot"/>
  <h1 class="font-bold text-4xl p-1">James Thompson &bull; CV</h1>
  <hr class="p-1"/>
  <div class="text-lg p-1">Hands-On Software Architect</div>
  <p id="cv-summary" class="text-sm">
    Hands-on software engineer & architect with over 20 years experience building
    software for the web with extensive experience with Ruby on Rails (over 18
    years). Committed to developing high quality software using agile practices
    including test-driven development, continuous integration, and pair
    programming. An active learner with a strong desire to coach and mentor
    colleagues as well as learn from them.
  </p>
</section>