<%= turbo_frame_tag :cv_educations do %>
  <section id="education" class="basis-1/3">
    <h2 class="font-bold text-3xl">Education</h2>
    <% if authenticated? %>
      <%= turbo_frame_tag :cv_education_new do %>
        <%= link_to "Add Education", new_cv_education_path, class: "px-4 border-2 rounded-lg" %>
      <% end %>
    <% end %>
    <ol>
      <% educations.each do |education| -%>
        <%= render partial: "cv/education", locals: { education: education } %>
      <% end -%>
    </ol>
  </section>
<% end %>